<template>
    <section id="testimonialsContainer">
        <h1 class="display-5 fw-bold text-center mb-3">Testimonials</h1>

            <div class="row g-0">
                <div v-for="test in testimonials" :key="test" class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-content-center mb-4">
                  <div class="flip-card">
                <figure class="flip-card-inner">
                  <div class="flip-card-front">
                    <img v-bind:src="test.image" alt="Image"/>
                  </div>
                  <div class="flip-card-back">
                    <p>{{ test.text }}</p>
                  </div>
                </figure>
              </div>
                </div>
        </div>
    </section>
</template>

<style>
    #testimonialsContainer{
      color: lightgray;
      overflow-x: hidden;
      padding-bottom: 5rem;
      background-image:
      linear-gradient(#000000da, #000000b7),
      url('../assets/pexels-abhilash-sahoo-4295841.jpg');
      background-size: cover;
      background-repeat: no-repeat;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .flip-card {
        background-color: transparent;
        width: 20em;
        height: 25em;
        border-radius: 1.5em;
      }
      .flip-card .flip-card-inner .flip-card-front img,
      .flip-card .flip-card-inner .flip-card-back{
        border-radius: 1.5em;
      }
    
    .flip-card-front img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
    
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        color: black;
      }
      
      .flip-card-back {
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkCOLOR);
        color: var(--highlightCOLOR);
        transform: rotateY(180deg);
      }
    
      img{
        width: 100%;
      }
    </style>